$footer-color: #232F3E;

.footer {
    height: 22vh;
    max-height: 50vh;
    padding-top: 30px;
    padding-bottom: 0;
    background-color: $footer-color;
    text-align: center;
}

.footer-link-color {
    color: white;
}

.footer-link {
    padding: 40px;
}

.footer-slogan {
    padding-top: 10px;
}

.footer-link:hover {
    color: #1F9CED;
}