<nav class="navbar unbadge-nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        <h1 class="title nav-link"><small>UN</small><b class="nav-title-2">badge</b></h1>
      </a>
  
      <a (click)="toggleNavbar()" #navBurger role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

   
  
    <div id="nav" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item nav-link" routerLink="">Home</a>
        <a class="navbar-item nav-link" routerLink="pricing">Pricing</a>
        <a class="navbar-item nav-link" routerLink="about">About</a>
        <a class="navbar-item nav-link" routerLink="contact">Contact</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-fullwidth is-link"><strong>Get Started</strong></a>
          </div>
        </div>
      </div>
    </div>
  </nav>