<section class="hero is-info is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Mission</h1>
                <p class="first-about is-size-5">
                    unBadge is a tool built for direct use in schools to award students based on completed tasks as well as custom badges assigned by the teacher in the teacher dashboard.
                </p>
                <p>
                    <a class="home-learn-more" routerLink="about">Learn more</a>
                </p>
            </div>
        </div>
</section>

<section class="section hero is-light">
        <div class="hero-body">
                <div class="container">
                    <h1 class="title">Why use us</h1>
                </div>
            
        </div> 
</section>
<section class="section hero">
    <div class="level-right hero-body">
        <div class="level-item">
            <div class="container">
                <h1 class="title">What we offer</h1>
            </div>
        </div>
    </div>
</section>
<section class="section hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">What we offer</h1>
        </div>
    </div>
</section>
<section class="section hero">
        <div class="level-right hero-body">
            <div class="level-item">
                <div class="container">
                    <h1 class="title">What we offer</h1>
                </div>
            </div>
        </div>
</section>
